# Ignorar arquivos compilados do Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignorar ambientes virtuais
venv/
.env/

# Ignorar arquivos de configuração do IDE
.vscode/
.idea/

# Ignorar arquivos temporários
*.log
*.tmp
